---
import BaseLayout from "../../layouts/BaseLayout.astro";

import FormularioMascota from "../../components/FormularioMascota.astro";
import FormularioVehiculo from "../../components/FormularioVehiculo.astro";
import FormularioMenor from "../../components/FormularioMenor.astro";
import FormularioSAG from "../../components/IntegracionSAG.astro";
import FormularioConsultaTramite from "../../components/FormularioConsultaTramite.astro";
import MapaPaso from "../../components/MapaPaso.astro";

const { seccion } = Astro.params;

export const getStaticPaths = () => {
  return [
    { params: { seccion: "mascota" } },
    { params: { seccion: "vehiculo" } },
    { params: { seccion: "menor" } },
    { params: { seccion: "productos" } },
    { params: { seccion: "consulta" } },
    { params: { seccion: "mapa" } }
  ];
};
---

<BaseLayout title={`Formulario: ${seccion}`}>
  <h2 class="text-xl font-semibold mb-4 capitalize">
    {seccion === "mapa" ? "Ubicación del Paso Fronterizo" : `Formulario de ${seccion}`}
  </h2>

  {
    seccion === "mascota" ? <FormularioMascota /> :
    seccion === "vehiculo" ? <FormularioVehiculo /> :
    seccion === "menor" ? <FormularioMenor /> :
    seccion === "productos" ? <FormularioSAG /> :
    seccion === "consulta" ? <FormularioConsultaTramite /> :
    seccion === "mapa" ? <MapaPaso /> :
    <p class="text-red-600 font-semibold">❌ Página no encontrada para esta sección.</p>
  }
</BaseLayout>
