---
import BaseLayout from '../layouts/BaseLayout.astro';
import ResumenTramite from '../components/ResumenTramite.astro';
import GestionCatalogos from '../components/GestionCatalogos.astro';
---

<BaseLayout title="Administrador - Panel de Gestión">
  <h2 class="text-xl font-semibold mb-4">Panel del Administrador</h2>
  <p class="mb-6">Desde aquí puedes acceder a reportes y mantener la configuración del sistema.</p>

  <ResumenTramite />
  <GestionCatalogos />
</BaseLayout>

<script type="module">
  window.onload = () => {
    const rolEsperado = "admin";
    const actual = localStorage.getItem("rol");

    if (actual !== rolEsperado) {
      window.location.href = "/admin";
    }
  };
</script>
