---
import BaseLayout from "../layouts/BaseLayout.astro";

import FormularioConsultaTramite from "../components/FormularioConsultaTramite.astro";
import FormularioVehiculo from "../components/FormularioVehiculo.astro";
import FormularioMenor from "../components/FormularioMenor.astro";
import MapaPaso from "../components/MapaPaso.astro";
---

<BaseLayout title="Turista - Pre-registro">
  <h2 class="text-xl font-semibold mb-4">Bienvenido Turista</h2>
  <p class="mb-6">
    Puedes adelantar tu trámite registrando tu vehículo, documentación o consultando tu estado.
  </p>

  <FormularioConsultaTramite />
  <FormularioVehiculo />
  <FormularioMenor />
  <MapaPaso />
</BaseLayout>

<script type="module">
  window.addEventListener("DOMContentLoaded", () => {
    import("/scripts/formularioConsultaTramite.js").then((m) => m.setupFormulario());
    import("/scripts/formularioVehiculo.js").then((m) => m.setupFormulario());
    import("/scripts/formularioMenor.js").then((m) => m.setupFormularioMenor());
  });
</script>
