---
import BaseLayout from "../../layouts/BaseLayout.astro";

import ResumenTramite from "../../components/ResumenTramite.astro";
import GestionCatalogos from "../../components/GestionCatalogos.astro";

const { param } = Astro.params;

export const getStaticPaths = () => {
  return [
    { params: { param: "ingresos" } },
    { params: { param: "egresos" } },
    { params: { param: "vehiculos" } },
    { params: { param: "tiempos" } },
    { params: { param: "configuracion" } }
  ];
};
---

<BaseLayout title={`Sección: ${param}`}>
  <h2 class="text-xl font-semibold mb-4 capitalize">Vista de {param}</h2>

  {
    param === "ingresos" || param === "egresos" || param === "vehiculos" || param === "tiempos"
      ? <ResumenTramite />
      : param === "configuracion"
        ? <GestionCatalogos />
        : <p class="text-red-600 font-semibold">❌ No existe esta sección.</p>
  }
</BaseLayout>
